.grid {
    display: flex;
    flex-wrap: wrap;
    canvas {
        width: 500px;
        height: 500px;
    }
    div.elgrid {
        width: 400px;
        height: 400px;
        overflow: scroll;
       
    }
}